spring:
  datasource:
    schema: classpath:/mysql.sql
    url: jdbc:mysql://localhost:3306/zipkin?verifyServerCertificate=false&useSSL=false
    username: root
    password: root
# Switch this on to create the schema on startup:
    initialize: true
    continueOnError: true
    driver-class-name: com.mysql.cj.jdbc.Driver
  sleuth:
    enabled: false
zipkin:
  storage:
    type: mysql
server:
  port: 9411
